# CI for Bash project using Github ACtions. CI runs tests and adds linter on all branches.

name: Python CI

on:
  push:
    branches: 
    - "**"
  pull_request:
    branches: 
    - "**"

jobs:
  run_linter:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        
    - name: Run linter
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics 

  run_tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
        
    - name: Install dependencies for tests and linter
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        

    - name: Run tests
      run: |
         python3 -m unittest ./test
